@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.otf');
}

* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 45%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("img/background.jpg");
    background-size: cover;
    text-align: center;
}

.left-footer {
    margin-top: auto;
    padding: 10px;
    color: #D3D3D3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.logo-display {
    padding: 10px;
    display: flex;
    margin-top: 30%;
    align-items: center;
    justify-content: center;
    font-family: 'Norse';
    font-size: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-content {
    display: flex;
    flex-direction: column;
}

.intro-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #F5F5F5;
    color: #424242;
    padding: 100px 100px 50px 50px;
}

.form-section {
    padding: 25px 50px 30px 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-section p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #424242;
    margin-bottom: 20px;
}

.create-section {
    font-family: sans-serif;
    background-color: #F5F5F5;
    padding: 30px 50px 50px 50px;
    box-shadow: inset rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex: 1;
}

.create-section p {
    font-size: 14px;
}

button {
    border-radius: 5px;
    background-color: #596D48;
    color: #F9FAF8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    padding: 10px 45px 10px 45px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #616161;
    letter-spacing: 1px;
}

.flex-container {
    display: flex;
    gap: 65px;
}

input {
    border: solid 1px #E5E7EB;
    border-radius: 3px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border: solid 1px blue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input[type="password"]:invalid {
    border: solid 1px red;
}